# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
.venv/
*/.venv/

# =========================
# C# & .NET
# =========================
[Bb]in/
[Oo]bj/
*.user
.vs/
*.suo

# =========================
# MkDocs
# =========================
site/
public/

# =========================
# IDEs & OS
# =========================
.cursor/
.vscode/
.DS_Store
Thumbs.db

# =========================
# Temp & Cache
# =========================
*.cache
tmp/
lib/

# =========================
# RimWorld Build Outputs
# =========================
1.5/
1.6/
